<footer class="footer footer-default">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="https://www.vuta-alexandru.com">
            Vuta Alexandru
          </a>
        </li>
        <li>
          <a href="">
            About Us
          </a>
        </li>
        <li>
          <a href="">
            Blog
          </a>
        </li>
        <li>
          <a href="">
            MIT License
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      © {{ clock | async | date:'y  d/M Clock: H:m:ss'}}, Designed by
      <a href="https://www.vuta-alexandru.com" target="_blank">VA</a>. Coded by
      <a href="https://www.vuta-alexandru.com" target="_blank">Vuta Alexandru</a>.
    </div>
  </div>
</footer>
