.modal-edit-photo {
  max-width: 500px!important;
  padding: 10px;
}
.modal-edit-photo .footer {
  padding-top: 0px;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  /*  font-size: 1.20em;
    font-weight: 700;
    color: white;
    padding: 10px;
    background-color:transparent;
    display: inline-block;
    transition: all 0.4s ease;
    opacity: 0.8;*/
}

.inputfile:focus + label,
.inputfile + label:hover {
  /*  background-color: rgba(252, 255, 251, 0.22);
    transition: all 0.4s ease;
    opacity: 1;
    border-radius: 4px;*/
}
.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}


.inactive {
  display: none;
}
.active {
  display: block;
}
.progress-container.progress-success {
  margin-top: 20px;
}
.progress-container.progress-success .progress {
  background: rgba(255, 255, 255, 0.12);
}
.progress-container.progress-success .progress-bar {
  background: #fff;
}

.progress-container.progress-success .progress-value, .progress-container.progress-success .progress-badge {
  color: white;
}

select {
  width: auto;
  font-size: 14px;
  border: 1px solid #ccc;
  height: auto;
  display: block;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  min-width: 170px;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
textarea {
  border-radius: 20px;
}
.checkbox {
  margin: auto!important;
}

.header-right-details {
  padding: 7px 20px 0 0;
  font-size: 12px;
  text-align: right;
  color: rgba(255, 255, 255, 0.64);
  font-style: italic;
}

.header-right-details span {
  color: white;
  font-weight: 600;
  font-style: normal;
}

