<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="200">
  <div class="container">
    <div class="dropdown button-dropdown">
      <a [routerLink]="['/']" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
        <span class="button-bar"></span>
        <span class="button-bar"></span>
        <span class="button-bar"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-header">Dropdown header</a>
        <a class="dropdown-item" (click)="t()">Action</a>
        <a class="dropdown-item" [routerLink]="['/']">Another action</a>
        <a class="dropdown-item" [routerLink]="['/']">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="['/']">Separated link</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item"[routerLink]="['/']">One more separated link</a>
      </div>
    </div>
    <div class="navbar-translate">
      <a class="navbar-brand" routerLink="/" rel="tooltip" title="" data-placement="bottom" target="_blank" data-original-title="Online photo gallery">
        Galleo
      </a>
      <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" data-nav-image="../assets/img/blurred-image-1.jpg">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./']">Back to home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/creativetimofficial/now-ui-kit/issues">Have an issue?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank" data-original-title="Follow us on Twitter">
            <i class="fa fa-twitter"></i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank" data-original-title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>

        <li class="nav-item dropdown">

          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
            <i class="now-ui-icons users_single-02" aria-hidden="true"></i>
          </a>

          <div *ngIf="session.isAuthenticated" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-header">My account</a>
            <a class="dropdown-item" [routerLink]="['view-profile', session.user.id, 'detail']">Go to profile</a>
            <a class="dropdown-item" [routerLink]="['view-profile', session.user.id, 'detail']"> Galleries</a>
            <a class="dropdown-item" routerLink="/profile/photo-list">All Photos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()" routerLink="/signin">Logout</a>
          </div>

          <div *ngIf="!session.isAuthenticated" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/signup">Register new account</a>
            <a class="dropdown-item" routerLink="/signin">Login</a>

          </div>

          <!--<a class="nav-link" rel="tooltip" title="" data-placement="bottom" routerLink="/profile" data-original-title="View profile" data-toggle="dropdown" id="navbarDropdownMenuLink1">-->

          <!--</a>-->
        </li>
      </ul>

    </div>
  </div>
</nav>
