<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h2 class="title">Unlimited photos and galleries storage</h2>
        <h5 class="description">
          With a free account you can create unlimited number of galleries and upload the number of photos that you want.
          Also you can decide which photos will be public or private.
          Do you want more?
        </h5>

        <a [routerLink]="['/', 'view-all-photos']" class="btn btn-primary btn-simple btn-round btn-lg" >View All Photos</a>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="icons-container">
          <img src="../assets/img/photo_station.png" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-team text-center">
  <div class="container">
    <h2 class="title">Here is our team</h2>
    <div class="team">
      <div class="row">
        <div class="col-md-4">
          <div class="team-player">
            <img src="../assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Romina Hadid</h4>
            <p class="category text-primary">Model</p>
            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
              <a href="#">links</a> for people to be able to follow them outside the site.</p>
            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-instagram"></i></a>
            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-facebook-square"></i></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <img src="../assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Ryan Tompson</h4>
            <p class="category text-primary">Designer</p>
            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
              <a href="#">links</a> for people to be able to follow them outside the site.</p>
            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <img src="../assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
            <h4 class="title">Eva Jenner</h4>
            <p class="category text-primary">Fashion</p>
            <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
              <a href="#">links</a> for people to be able to follow them outside the site.</p>
            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-google-plus"></i></a>
            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-youtube-play"></i></a>
            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
