<div class="page-header" filter-color="">
  <div class="page-header-image" style="background-image:url(../assets/img/bg1.jpg)"></div>
  <div class="container">

    <div class="col-md-4 content-center">
      <div class="card card-login card-plain">
        <form class="form" [formGroup]="siForm" autocomplete="off">
          <div class="header header-primary text-center">
            <div class="logo-container">
              <img src="../assets/img/now-logo.png" alt="">
            </div>
          </div>
          <div class="content">
            <div class="input-group form-group-no-border input-lg"
                 [ngClass]="{'has-danger': siForm.controls['userName'].invalid && siForm.controls['userName'].touched}">

              <input type="text" class="form-control"
                     [ngClass]="{'form-control-danger': siForm.controls['userName'].invalid && siForm.controls['userName'].touched}"
                     autocomplete="off" placeholder="UserName..." id="userName" formControlName="userName">
            </div>
            <div class="input-group form-group-no-border input-lg"
                 [ngClass]="{'has-danger': siForm.controls['password'].invalid && siForm.controls['password'].touched}">

              <input type="password" placeholder="Password..." class="form-control" id="apssword"
                     formControlName="password" autocomplete="off"
                     [ngClass]="{'form-control-danger': siForm.controls['password'].invalid && siForm.controls['password'].touched}">
            </div>

            <div class="content" style="height: 40px">
              <span class="badge badge-danger"
                    *ngIf="siForm.touched && ( siForm.controls['userName'].invalid || siForm.controls['password'].invalid)"> Please provide a valid username and password</span>
              <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>

            </div>
          </div>


          <div class="footer text-center">
            <button (click)="onSubmit()"
                    [disabled]="siForm.controls['userName'].invalid || siForm.controls['password'].invalid"
                    class="btn btn-primary btn-round btn-lg btn-block">Sign In
            </button>
            <span class="badge badge-danger" *ngIf="authSuccess == false"> Error: {{authMessage}}</span>
          </div>
          <div class="pull-left">
            <h6>
              <a href="#pablo" class="link">Create Account</a>
            </h6>
          </div>
          <div class="pull-right">
            <h6>
              <a href="#pablo" class="link">Need Help?</a>
            </h6>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
